.o_main_navbar {
    background-color: #121111;
}

.o_MessagingMenu_counter {
    background-color: #e27d21;
}

.o_notification_counter {
    background-color: #e27d21 !important;
}

body {
    font-family: Roboto;
}

.breadcrumb .o_back_button a {
    color: #e27d21 !important;
    font: normal normal medium 18px/24px Roboto;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #202528;
}

.breadcrumb .active .text-muted {
    font: normal normal medium 18px/24px Roboto;
    color: #202528 !important;
}

.o_menu_sections {
    background-image: url("/g2p_theme/static/src/img/openg2p-logo-white-on-black.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 60%;
    background-size: 120px;
}

@media (min-width: 840px) and (max-width: 980px) {
    .o_menu_sections {
        background-position-x: 100% !important;
    }
}

.btn-primary, .btn-primary:hover{
    background: #E27D21 0% 0% no-repeat padding-box !important;
    border-radius: 4px !important;
    border: 1px solid #E27D21 !important;
    color: #FFFFFF !important;
    font: normal normal medium 14px/19px Roboto !important;
}

.btn-primary:focus{
   box-shadow: none !important;
}

.o_list_button_add_program,
.o_list_button_add_program:active {
    background: #e27d21 0% 0% no-repeat padding-box !important;
    border-radius: 4px !important;
    border: 1px solid #e27d21 !important;
    opacity: 1 !important;
    height: 31px !important;
    color: #ffffff !important;
    font: normal normal medium 14px/19px Roboto !important;
}

.o_list_button_add_program:focus {
    box-shadow: none !important;
}

.o_list_button_add_program:focus-visible {
    outline: none !important;
}

.o_form_buttons_view .o_form_button_edit, .o_form_button_save, .o_list_button_add{
    background: #E27D21 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: 1px solid #e27d21;
    opacity: 1;
    width: 90px;
    height: 31px;
    color: #ffffff;
    font: normal normal medium 14px/19px Roboto;
}

.o_form_buttons_view .o_form_button_create, .o_form_button_cancel{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E27D21;
    border-radius: 4px;
    opacity: 1;
    width: 90px;
    height: 31px;
    color: #e27d21;
    font: normal normal medium 14px/19px Roboto;
}

.o_form_buttons_view .o_form_button_edit:active, .o_form_button_save:active, .o_form_button_save:hover, .o_list_button_add:active, .o_list_button_add:hover{
    background: #E27D21 0% 0% no-repeat padding-box !important;
    border-radius: 4px !important;
    border: 1px solid #e27d21 !important;
    opacity: 1 !important;
    width: 90px !important;
    height: 31px !important;
    color: #ffffff !important;
    font: normal normal medium 14px/19px Roboto !important;
}

.o_form_buttons_view .o_form_button_create:active, .o_form_button_cancel:active, .o_form_button_cancel:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 1px solid #E27D21 !important;
    border-radius: 4px !important;
    opacity: 1 !important;
    width: 90px !important;
    height: 31px !important;
    color: #e27d21 !important;
    font: normal normal medium 14px/19px Roboto !important;
}

.o_form_buttons_view .o_form_button_edit:focus, .o_form_button_save:focus, .o_list_button_add:focus{
    box-shadow: none !important;
}

.o_form_buttons_view .o_form_button_create:focus, .o_form_button_cancel:focus{
   box-shadow: none !important;
}

.o_form_buttons_view .o_form_button_edit:focus-visible, .o_form_button_save:focus-visible, .o_list_button_add:focus-visible{
    outline: none !important;
}

.o_form_buttons_view .o_form_button_create:focus-visible, .o_form_button_cancel:focus-visible{
   outline: none !important;
}

.o_cp_action_menus .dropdown-toggle{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E27D21;
    border-radius: 4px;
    opacity: 1;
    color: #E27D21;
    width: 90px;
    height: 31px;  
    padding-left: 16px;
    font: normal normal medium 14px/19px Roboto;
}

.oe_stat_button .o_button_icon {
    color: #e27d21 !important;
}

.o_debug_manager .dropdown-toggle{
    color: #E27D21 !important;
}

.oe_stat_button .o_stat_text {
    font: normal normal medium 14px/19px Roboto;
    color: #212529;
}

.oe_title .oe_read_only .o_field_char {
    font: normal normal medium 26px/34px Roboto;
    color: #212529;
}

.o_notebook_headers .nav-tabs .nav-item a {
    font: normal normal medium 14px/19px Roboto;
    color: #212529;
}

.o_notebook_headers .nav-item .active {
    background: #e27d21 0% 0% no-repeat padding-box !important;
    border: 2px solid #e27d21;
    border-radius: 4px 4px 0px 0px;
    color: #FFFFFF !important;
}

.o_notebook_headers .nav-tabs{
    border-bottom-color: #E27D21;
    border-bottom-width: 2px;
}

.o_form_sheet_bg .o_form_sheet {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 16px #0000001a;
    border-radius: 10px;
    opacity: 1;
}

.o_list_view .o_field_x2many_list_row_add a {
    color: #e27d21;
}